.img-thumbnail img{
    widows: 100%;
}

.img-thumbnail{
    padding: 0;
}

.caption-full{
    padding: 9px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.delete {
    display: inline;
}