<h1>Camp Grounds</h1>

<%campgrounds.forEach(function(camps){  %>
  <div >
     <h4><%= camps.name  %></h4>
     <img src="<%= camps.image  %>" style="height: 200px;  width: 500px;">
  </div>
<% }); %> 
