<% include partials/header %>
<div >
    <div style="align-items: center;display: flex;justify-content: center;"><h2><%= data.name %></h2></div>
    <div style="align-items: center;display: flex;justify-content: center;"><img src="<%= data.image %>"></div>
    <div style="align-items: center;display: flex;justify-content: center;"><p><%= data.description %></p></div>
</div>

<% include partials/footer %>